<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <h2>Welcome to the CSE 33340 Service Netowrk!</h2>
        <p>Our mission is to promote service across the world by connecting volunteers with servoce opportunies in their community.</p>

        <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
    </main>
<%- include('partials/footer') %>