     
    <footer>
        <p>Last Modified: <span id="last-modified"></span></p>
        <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.</p>
    </footer>

    <script src="/js/menu-toggle.js" type="module"></script>
</body>
</html>