<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">

    
</head>
<body>

<header id="site-header">
  <div class="header-inner">

    <div class="header-text">
    <img src="/images/cse340-service-network.png" alt="">
    

      <p class="site-name">Joy in serving</p>
      <p>A Beginner&rsquo;s Guide to leanring more about Joy and Serving</p>

    </div>
    <button id="menu-toggle" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/organizations">Organizations</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>